
body{
    padding-top: 70px;
    margin:20px auto;
    font-family: 'Lato', sans-serif;
}

.facebook{

    width:20%;
}

.slide{
    background-size: cover;

    background-position: center;

}

.foot{
    padding-bottom: 30px;
}

button{

padding-top: 30px;
color:white;
width:25%;
}

.dist{
    padding-bottom: 30px;
    padding-top: 30px;
    }
    
.demo{

    text-align: center;
}

.gallery{
    padding-left:150px;
    padding-right:150px;
    padding-top: 30px;
    padding-bottom: 50px;;
}

.pics{

    width: 100%;
    margin:1.66%;
}

.vidcontent{
padding-top: 35px;
padding-right: 40px;
}

.heads{
    padding-top:30px;
    padding-left:70px;
    
}

.contact{

    text-align: center;
    padding-bottom: 40px;
}

.copyright{
    font-size: small;
}


.abc{
  
    padding-left:50px;
}


.content{  
    padding-left:100px;
    padding-right:100px;
    padding-bottom:40px;
    padding-top:40px;
}

.pad{

	border-left: 5px solid #bdc3c7;
	padding-left:4px; 
}


.row-footer{

    padding:30px;
    margin:1.66%;
}


hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
/* ========================================================================== 
    General 
========================================================================== */
.navbar {
    /*font-family:'Oswald';*/
    font-family: 'Lato', sans-serif;
    /*font-weight:100;*/
    font-weight: 400;
    font-size: 25px;
}

p{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-align: center;

}


a {
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

a {
    color:#34c8b2;
}

a:hover {
    color:#ec343c;
    text-decoration: none;
}
.btn-o {
    border:1px solid #34c8b2;
    /*border-radius*/
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    color:#34c8b2;
}

.btn-o:hover {
    color:white;
    background:#34c8b2;
}

img {
    max-width:100%;
    max-height: 100%;
}


/* ========================================================================== 
Navigation 
========================================================================== */
.navbar-dark {
    background:grey;
    z-index: 99999;
}

.navbar-dark a {
    /*color:rgb(153,160,162);*/
    color: rgb(205, 209, 210);
}

.navbar-brand {
    height:90px;
    padding:5px 5px;
}

.navbar-nav>li>a {
    padding-top:25px;
    padding-bottom:45px;
}

.navbar-brand strong {
    color:white;
    margin-right:2px;
}

.navbar-brand:hover {

    text-decoration:none;
}

.nav>li>a:hover,.nav>li>a:focus {
    background-color:#ec343c;
    color: white;
}


/* ========================================================================== 
Caurosel
========================================================================== */
.carousel-control {
    z-index:9999;
}

.carousel-control>img {
    position:absolute;
    top:42%;
    width:30%;
}

.left.carousel-control>img {
    left:30%;
}

.right.carousel-control>img {
    right:30%;
}




/* ========================================================================== 
content-block 
========================================================================== */
.content-block {
    padding:60px 0;
    width:100%;
}

.content-block-cyan {
    background:blueviolet;
    color:#ECF0F1;
}

.content-block-cyan h1 {
    font-weight:100;
    text-transform:uppercase;
    margin-bottom: 30px;
}


/* ========================================================================== 
Recent works
========================================================================== */

.owl-carousel .owl-item img {
    height:auto;
    width:100%;
    display:block;
    position:relative;
}

.owl-carousel .item {
    margin:0px;
}

.owl-item>div {
    position:relative;
}

.owl-item>div a {
    position:absolute;
    bottom:0px;
    padding:8px;
    background:rgba(0,0,0,0.75);
    right:0;
    color:white;
    text-transform:uppercase;
    z-index: 2;
}

.owl-carousel .owl-item div:before {
    top:0;
    right:0;
    bottom:0;
    left:0;
    position:absolute;
    content:'';
    background:rgba(5,27,26,1);
    z-index:1;
    opacity:0.5;
    /*transition*/
    -webkit-transition:opacity 0.4s;
    -moz-transition:opacity 0.4s;
    -o-transition:opacity 0.4s;
    transition:opacity 0.4s;
}

.owl-carousel .owl-item:hover div:before {
    opacity: 0;
}

.owl-theme .owl-controls .owl-page span {
    background: #34C8B2;
}


/* ========================================================================== 
blog 
========================================================================== */
.block-heading h1 {
    margin-top:0;
}

.content-block-gray {
    background:#ECF0F1;
}

.block-heading {
    margin-bottom: 60px;
}


/* ========================================================================== 
footer
========================================================================== */
footer.content-block {
    padding: 60px 0 38px;
    width: 100%;
}

.content-block-dark {
    background:#222222;
}




/* ========================================================================== 
Responsive styles
========================================================================== */

@media (max-width:768px) {
    .navbar-nav>li>a {
        padding-top:10px;
        padding-bottom:10px;
        text-align:center;
    }
    .navbar-toggle i {
        color:rgb(153,160,162);
    }
    .navbar-toggle {
        margin-top:14px;
    }
    .recent-projects-title {
        font-size:32px;
    }
    .blog-post {
        margin-bottom:40px;
    }
  
}